<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Fluid jumbo heading</h1>
        <p class="lead">Jumbo helper text</p>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" routerLink="/about" role="button">Jumbo action name</a>
        </p>
    </div>
    <div class="container">
        <input type="text" [(ngModel)]="variable">
        <h3>{{variable}}</h3>
        <input type="number" [(ngModel)]="num1">
        <input type="number" [(ngModel)]="num2">
        <h3 *ngIf="num1!=0">{{num1+num2}}</h3>
        <p *ngIf="num1==0">El m es m 0</p>
        <ul>
            <li *ngFor="let item of letras">{{item}}</li>
        </ul>
        <br>
        <hr>
        <br>
        <ul>
            <li *ngFor="let usuario of usuarios" (click)="nombreUsuario(usuario)">{{usuario.nombre + " " + usuario.apellido}}</li>
        </ul>
        <h3>{{usuarioselec}}</h3>
    </div>
</div>
