<p>Convertir a mayusculas: {{usuario |uppercase}}</p>
<p>Convertir a minisculas: {{mes |lowercase}}</p>
<p>la primera letra de cada palabra en mayusculas: {{texto |titlecase}}</p>
<p>Fecha {{fecha |date}}</p>
<p>Fecha editada {{fecha |date:"dd/MM/yy"}}</p>
<p>Hora {{fecha |date: "hh:mm:ss"}}</p>
<p>Dinero {{dinero |currency: "EUR"}}</p>
<p>numero redondeado: {{numero_pi |number:".3"}}</p>
<p>seleccionar elementos de un array {{preposiciones |slice:2:5}}</p>
<p>Convertir objeto a formato json: {{usuarios |json}}</p>
<p>El cuadrado del 5: {{5|numeros:"cuadrado"}}</p>
<p>La raiz cuadrada de 81: {{81|numeros:"raiz"}}</p>
<p> : {{|numeros:"aletras"}}</p>

